

nav {
		display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
	}
nav a{
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: lightgoldenrodyellow;
		border-radius: 0.1rem;
		border: 1px solid black;
		color: black;
	}

nav a:visited {
	color: darkred;
}

nav a:hover {
	color: lightgoldenrodyellow;
	background-color: black;
}

body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Sanchez", serif;
	font-size: 4rem;
	
}

h2 {
	display: flex;
	justify-content: center;
	font-family: "Sanchez", serif;
	font-size: 4rem;

}

.lead-image img{
	display: flex;
	justify-content: center;

}

.lead-image img {
	margin: 0 auto;
	object-fit: contain;
	max-width: 80%;
}