.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}
nav {
		display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
	}
nav a{
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid black;
		color: #F1B82D;
	}

nav a:visited {
	color: darkgoldenrod;
}

nav a:hover {
	color: lightgoldenrodyellow;
	background-color: black;
}


body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Roboto", serif;
	font-weight: 700;;
	font-size: 4.5rem;
	padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
		color: #F1B82D ;
	
}
address {
	font-family: "Rhodium Libre", serif;
	font-size: 1.1rem;
}

main {
  width: 90%;
  max-width: 875px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
body {
  background-color:#F1B82D ;
}

h2 {
	font-family: "Roboto", serif;
	font-weight: 700;
	font-size:3rem;

}


.location-holder, .media-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: normal;
	font-size: 1.1rem;
	color: black;
}

a{
	text-decoration:none;
	color: blue ;
}
	a:visited {
	color: darkviolet;
}
 a:hover {
	color: #F1B82D;
	background-color: black;
	}
li {
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-weigth: normal;
	font-size: 1.5rem;
	color: red;
}
footer a {
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
  	color: #F1B82D;
  	width: 100%;
  	margin: 0;
  	padding: 1rem;
  	box-sizing: border-box;
  	font-weight: bold;


}
@media (min-width: 360px) (max-width:740px){
		nav {
		display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
	}
nav a{
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid black;
		color: lightgoldenrodyellow;
	}

nav a:visited {
	color: darkgoldenrod;
}

nav a:hover {
	color: lightgoldenrodyellow;
	background-color: black;
}

body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Roboto", serif;
	font-weight: 700;;
	font-size: 4.5rem;
	padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
		color: #F1B82D ;
	
}
address {
	font-family: "Rhodium Libre", serif;
	font-size: 1.1rem;
}

main {
  width: 90%;
  max-width: 900px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
body {
  background-color:#F1B82D ;
}

h2 {
	font-family: "Roboto", serif;
	font-weight: 700;
	font-size:3rem;

}


.location-holder, .media-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: normal;
	font-size: 1.1rem;
	color: black;
}

a{
	text-decoration:none;
	color: blue ;
}
	a:visited {
	color: darkviolet;
}
 a:hover {
	color: #F1B82D;
	background-color: black;
	}
li {
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-weigth: normal;
	font-size: 1.5rem;
	color: red;
}
footer a {
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
  	color: #F1B82D;
  	width: 100%;
  	margin: 0;
  	padding: 1rem;
  	box-sizing: border-box;
  	font-weight: bold;
}

@media (min-width: 555px) {
	nav {
		display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
	}
nav a{
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid black;
		color: lightgoldenrodyellow;
	}

nav a:visited {
	color: darkgoldenrod;
}

nav a:hover {
	color: lightgoldenrodyellow;
	background-color: black;
}

body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Roboto", serif;
	font-weight: 700;;
	font-size: 4.5rem;
	padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
		color: #F1B82D ;
	
}
address {
	font-family: "Rhodium Libre", serif;
	font-size: 1.1rem;
}

main {
  width: 90%;
  max-width: 900px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
body {
  background-color:#F1B82D ;
}

h2 {
	font-family: "Roboto", serif;
	font-weight: 700;
	font-size:3rem;

}


.location-holder, .media-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: normal;
	font-size: 0.9rem;
	color: black;
}

a{
	text-decoration:none;
	color: blue ;
}
	a:visited {
	color: darkviolet;
}
 a:hover {
	color: #F1B82D;
	background-color: black;
	}
li {
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-weigth: normal;
	font-size: 1.5rem;
	color: red;
}
footer a {
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
  	color: #F1B82D;
  	width: 100%;
  	margin: 0;
  	padding: 1rem;
  	box-sizing: border-box;
  	font-weight: bold;

}

@media (min-width: 800px) {

nav {
		display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
	}
nav a{
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid black;
		color: lightgoldenrodyellow;
	}

nav a:visited {
	color: darkgoldenrod;
}

nav a:hover {
	color: lightgoldenrodyellow;
	background-color: black;
}

body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Roboto", serif;
	font-weight: 700;;
	font-size: 4.5rem;
	padding: 0.2rem;
		margin: 0.1rem;
		background: black;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
		color: #F1B82D ;
	
}
address {
	font-family: "Rhodium Libre", serif;
	font-size: 1.1rem;
}

main {
  width: 90%;
  max-width: 900px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
body {
  background-color:#F1B82D ;
}

h2 {
	font-family: "Roboto", serif;
	font-weight: 700;
	font-size:3rem;

}


.location-holder, .media-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: normal;
	font-size: 1.1rem;
	color: black;
}

a{
	text-decoration:none;
	color: blue ;
}
	a:visited {
	color: darkviolet;
}
 a:hover {
	color: #F1B82D;
	background-color: black;
	}
li {
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-weigth: normal;
	font-size: 1.5rem;
	color: red;
}
footer a {
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
  	color: #F1B82D;
  	width: 100%;
  	margin: 0;
  	padding: 1rem;
  	box-sizing: border-box;
  	font-weight: bold;

}